.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade.in {
    opacity: 1;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 768px)
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    margin: 10px auto;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 768px)
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    margin: 10px auto;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
@media (min-width: 768px)
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.modal-content {
    border-radius: 0px;
}
div#small-dialog1, div#small-dialog2 {
    padding: 50px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
#small-dialog2 h3 {
    color: #ff4c4c;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.s {
	line-height: inherit;
	padding: 12px 16px;
    font-size: 14px;
    border: 1px solid #808080;
    background: transparent;
    outline: none;
    width: 50%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font: inherit;
    color: inherit;
    margin-left:25%;
    margin-bottom:20px;
}
.i {
	line-height: inherit;
	padding: 12px 16px;
    font-size: 14px;
    border: 1px solid #808080;
    background: transparent;
    outline: none;
    width: 50%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font: inherit;
    color: inherit;
    margin-left:25%;
    margin-bottom:20px;
}
#small-dialog2 input[type="submit"] {
    background: #146eb4;
    border: none;
    padding: 9px 10px;
    color: #fff;
    font-size: 15px;
    outline: none;
    margin: 0 auto;
    margin-top: 20px;
    width: 45%;
    letter-spacing: 2px;
    display: block;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"] {
	-webkit-transition: 0.5s all;
    -webkit-appearance: button;
    cursor: pointer;
}