@charset "ISO-8859-1";
textarea:focus {
	outline: none;
}

textarea {
	height: 74px;
	resize: none;
	width: 100%;
}

textarea:focus {
	outline: none;
}

.submit {
	float: right;
	margin-top: 10px;
	color: #000;
}

.submit {
	font-size: 16px;
	border: none;
	padding: 0;
}

textarea {
	width: 100%;
	padding: 11px 20px;
	border: 1px solid #777;
}

.contact-middle input[type="submit"] {
	background: #029eb7;
	border: none;
	border: 2px solid #029eb7;
	padding: .7em 2.5em;
	outline: none;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #fff;
	margin-top: 2em;
	cursor:pointer;
}

.contact-middle input[type="submit"]:hover {
	background: transparent;
	color: #029eb7;
}

h2,h5{
	margin:0;	
font-family: 'Open Sans', sans-serif;
}	

 p,
 h2{
    orphans: 3;
    widows: 3;
  }
  
   h2,
  h3 {
    page-break-after: avoid;
  }
  
h2,
h5,
.h2,
.h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 small,
h5 small,
.h2 small,
.h5 small,
h2 .small,
h5 .small,
.h2 .small,
.h5 .small{
  font-weight: normal;
  line-height: 1;
  color: #777;
}

h2,
.h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 small,
.h2 small,
h2 .small,
.h2 .small{
  font-size: 65%;
}
h5,
.h5,{
  margin-top: 10px;
  margin-bottom: 10px;
}
h5 small,
.h5 small,
h5 .small,
.h5 .small{
  font-size: 75%;
}

h2,
.h2 {
  font-size: 30px;
}

h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5,
.h5 {
  font-size: 14px;
}

p {
  margin: 0 0 10px;
}

h2,h5{
	margin:0;	
font-family: 'Open Sans', sans-serif;
}	

h2.w3_inner_tittle {
    text-transform: uppercase;
    color: #000;
    margin: 0.5em 0 1em 0;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 1px;
}

@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

h2.w3_inner_tittle {
		font-size: 1.6em;
}

h2.w3_inner_tittle {
		font-size: 1.5em;
		margin: 0.5em 0 0.7em 0;
}
	
h2.w3_inner_tittle {
		font-size: 1.4em;
		margin: 0.5em 0 0.7em 0;
}

p{
	margin:0;
	letter-spacing:1px;
	font-size:14px;
}

p{
		font-size: 13px;
}

.questions h5 {
    color: #000;
    font-size: 1.3em;
    line-height: 1.6em;
}
.questions p {
    font-size: 1em;
    color: #888;
    padding: 1em 0;
    line-height: 2.3em;
}