
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
 font-family: 'PT Sans', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
   font-family: 'PT Sans', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
   font-family: 'Montserrat', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
	
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
   font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}
img.img-responsive {
    width: 100%;
}
p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
}


ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
.row{margin:0px;}
/*-- //Reset-Code --*/
.clr {
    color: #fff;
}
.lft{    text-align: left;}
.rigt{    text-align: right;}
/*-- header --*/
/*-- banner --*/

.center-container {
    padding: 2em 0 48em;
    background: rgba(0, 0, 0, 0.44);
}

.w3_agile_header_left {
    float: left;
}

.agile_header_right {
    float: right;
    margin-top: .7em;
}

.agile_header_right ul li {
    display: block;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}

.agile_header_right ul li i {
    padding-right: 1.5em;
    color: #0accff;
}
.agile_header_right ul li a {
    color: #fff;
    text-decoration: none;
}
.agile_header_right ul li a:hover {
    color: #0accff;
}
.agile_header_right ul li a:before,
.agile_header_right ul li a:after {
    display: none;
}
.agile_header_right ul li:last-child {
    margin-left: 3em;
}
.w3_agileits_logo {
    float: left;
}
.w3_agileits_logo h1 a {
    font-size: 1.2em;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3_agileits_logo h1 a span {
    display: block;
    font-size: .3em;
    font-weight: 600;
    color: #0accff;
    position: relative;
    letter-spacing: 3px;
}
.agileits_w3layouts_banner_info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.agileits_w3layouts_banner_info h2 {
    font-size: 2em;
    color: #fff;
    text-transform: capitalize;
    line-height: 2em;
}
.agileits_w3layouts_banner_info p {
    color: #fff;
    line-height: 2em;
    margin: 0 0 5em;
}
ul.top_agile_info_ad {
    width: 42%;
    margin: 1.4% auto 0;
    float: right;
}
ul.top_agile_info_ad li {
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
    letter-spacing: 1px;
}
.w3l_header_contact_details_agile {
    float: right;
    width: 78%;
    text-align: left;
}
.w3_agileits_logo h1 a span {
    font-size: 12px;
    text-align: center;
    color: #FFC107;
}
.header_contact_details_agile i {
    color: #fff;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 13px;
    font-size: 1.5em;
}
.header-contact-detail-title {
    color: #7aba1e;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 7px;
}
a.w3l_header_contact_details_agile-info_inner,
.w3l_header_contact_details_agile a {
    font-size: 1em;
    color: #fff;
    text-align: left;
    letter-spacing: 1px;
}
/*-- nav --*/
.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 99;
    text-align: center;
    padding: 0em;
}
ul.navbar-nav {
    padding: 0px 0;
}
/*-- nav --*/
.header-bar {
    padding: 2em 0em;
}
h1 a.navbar-brand {
    padding-top: 0px;
    font-size: 43px;
    color: #0bffea !important;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 0;
    margin-right: 0;
}
a.navbar-brand span {
    color: #868c94!important;
    /* font-size: 22px; */
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 0.3em;
    border-left: 1px solid #dadada;
    margin-left: 0.3em;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0px 15px;
	padding: 0px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav.navbar.navbar-toggleable-md.navbar-light {
    padding:0em;
    background: rgba(255, 255, 255, 0);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#0bffea;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.open, 
.navbar-light .navbar-nav .open>.nav-link {
    color: #0bffea;
}
.navbar {
    padding: 0;
}
/*-- //nav --*/
/*-- //header --*/ 
/*--/banner --*/
.main_section_agile.inner {
    background: url(../images/banner12.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}
/*--- slider-css --*/

.agile_banner_text_info h3 {
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    color: #fff;
}

.agile_banner_text_info h3 span {
    font-weight: 700;
    display: block;
    letter-spacing: 3px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    color: #FFC107;
}

.agile_banner_text_info label {
    font-weight: 700;
    display: block;
    letter-spacing: 5px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    text-align: right;
    color: #FFC107;
}

.agile_banner_text_info {
    position: absolute;
    z-index: 9;
    top: 45%;
    left: 0%;
    text-align: center;
    width: 100%;
}

.slider {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.rslides_tabs {
    z-index: 9;
    position: absolute;
    bottom: -1%;
    right: 0%;
}

.rslides_tabs li {
    display: inline-block;
    margin: 0 2px;
    list-style: none;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    color: #fff;
    font-weight: bold;
}

#slider3-pager a {
    display: inline-block;
}

#slider3-pager img {
    float: left;
    display: block;

}

.rslides_tabs a {
    border: 4px solid rgba(239, 232, 232, 0.28);

}

#slider3-pager .rslides_here a {
    background: transparent;
    border: 4px solid #0bffea;

}

a.rslides_nav.rslides1_nav.prev {
    position: absolute;
    left: 0%;
    color: #fff;
    top: 36%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: none;
}

a.rslides_nav.rslides1_nav.next {
    right: 0%;
    position: absolute;
    color: #fff;
    top: 36%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: none;
}

#home {
    position: relative;
}

ul#slider li:nth-child(1) {
    background: url(../images/bg.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

ul#slider li:nth-child(2) {
    background: url(../images/bg1.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

ul#slider li:nth-child(3) {
    background: url(../images/bg2.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

ul#slider li:nth-child(4) {
    background: url(../images/bg3.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}
.agile_banner_text_info p {
    font-size: 16px;
    color: #ffff;
    margin: 1em auto;
    line-height: 1.8em;
    width: 40%;
    letter-spacing: 2px;
    text-align: center;
}

/*-- responsive-mediaqueries --*/

@media (max-width:1440px) {
    .agile_banner_text_info h3 {
        font-size: 4.8em;
        letter-spacing: 3px;
    }
}

@media (max-width:667px) {
    .rslides_tabs {
        padding: 0.3em 1em;
        margin-top: 6px;
    }
    a.rslides_nav.rslides1_nav.prev,
    a.rslides_nav.rslides1_nav.next {
        font-size: 0.9em;
    }
    .agile_banner_text_info {
        top: 32%;
    }
}

@media (max-width:667px) {
    .rslides_tabs {
        padding: 0;
        margin-top: 6px;
    }
    .rslides_tabs a {
        width: 45px;
        height: 45px;
    }
    #slider3-pager .rslides_here a {
        width: 45px;
        height: 45px;
    }
    #slider3-pager img {
        width: 40px;
        height: 40px;
    }
    .rslides_tabs a {
        border: 2px solid rgba(239, 232, 232, 0.28);
    }
    #slider3-pager .rslides_here a {
        border: 2px solid #FFC107;
    }
}
/*-- //responsive-mediaqueries --*/
/*--//banner --*/
/*--services --*/
.w3-services{
  padding:5em 0;
}
.w3-services-left-grid h3 {
    color: #fff;
}
.w3-services-left-grid h4 {
    font-size: 1.4em;
    color: #fff;
	margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3-services-left-grid p, .w3-icon-grid1 p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #777;
}
.Supp {
    float: left;
    width: 80%;
    margin-left: 5%;
}
.w3-icon-grid1 i {
    font-size: 16px;
    color: #fff;
    float: left;
    width: 40px;
    height: 40px;
    background:#029EB7;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.w3-icon-grid-gap1:nth-child(2){
    margin: 3em 0;
}
.w3-services-right-grid h3 {
    text-transform: capitalize;
    color: #58575d;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 6px;
    margin-bottom: 15px;
}
.w3-services-left-grid a {
    color: #fff;
    text-transform: capitalize;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
}

.w3-services-left-grid a:hover{
    background: #1cc7d0;
    border: 2px solid #1cc7d0;
}
.more{
	margin:2em 0;
}
.w3-services-right-grid {
    padding-left: 4em;
}
/*-- //services --*/
/*-- what we do --*/
.w3l_header {
    text-align: center;
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}
.wthree_head_section p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.wthree_head_section {
    margin-bottom: 5em;
}
.about-info-grids {
    text-align: center;
}
.bord {
    background: #e8e8e8;
    height: 1px;
    width: 75%;
    margin: 3em auto;
}
.about-info.about-info2 {
   border-left: 1px solid #e8e8e8;
   border-right: 1px solid #e8e8e8;
}
.about-info-grids p {
    font-size: 15px;
    margin:0;
    color: #777;
    font-weight: 400;
	line-height:1.8em;
}
.about-info-grids h4 {
    font-size: 22px;
    color: #151515;
    letter-spacing: .075em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
}
.about-info-grids i {
    font-size: 40px;
    color:#029EB7;
}
section.what_you {
    padding: 5em 0;
}
/*-- //what we do --*/
.w3_agileits_header.two {
    color: #fff;
}
/*--classes --*/
.ser-agile {
    background: url(../images/bg2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	padding:5em 0;
}
.grid1 {
    background: #029EB7;
    padding: 4em 4em;
    transition: 0.5s all;
    text-align: center;
}
.w3l-info h5 {
    font-style: italic;
    color: #0e0e0e;
    font-size: 20px;
    letter-spacing: 1px;
}
.w3l-info h6 {
    font-style: italic;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}
.w3l-info h4 {
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: .5em 0;
    font-weight: 600;
    text-transform: uppercase;
}
/*-- //classes --*/
/*-- testimonials --*/
.test {
    background: url(../images/bg1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 5em 0;
}
.test-grid p {
	font-size: 0.9em;
	color: #fff;
	line-height: 2em;
	margin-bottom: 1em;
}

.test-grid h4 {
	font-size: 1.4em;
	color: #000;
	font-weight: 600;
	letter-spacing: .5px;
	margin: 0em 0 0.2em;
}
.test-grid span {
    font-size: 15px;
    color: #ffffff;
    font-style: italic;
}

.agile {
	margin-bottom: 2em;
}

.test-grid1-agileinfo {
    background: #029EB7;
    position: relative;
    padding: 2em;
}
img.img-r {
	position: absolute;
	bottom: -20px;
	right: -17px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 9px solid rgba(255, 255, 255, 0.25);
}

/*-- //testimonials --*/
/*-- stats --*/
.features {   
    padding: 5em 0;
	
}
h3.subheading-w3-agile {
    font-size: 40px;
    margin-bottom: 1em;
    color: #000;
}
.stat-grids p {
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 3px;
    color: #777;
}

.stat-grids h3 {
    font-size: 1.5em;
    color: #029eb7;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 5px;
}

.stat-grids:nth-child(1),
.stat-grids:nth-child(2) {
	margin-bottom: 1.5em;
}
.about-left {
    padding: 0;
}
/*--//stats --*/
/*-- newsletter--*/

.n-right,
.n-left {
	padding: 0;
}

.n-left h6 {
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #029eb7;
    font-weight: 500;
}
.w3layouts_newsletter_right input[type="submit"],
.w3layouts_newsletter_right input[type="text"] {
	width: 30%;
}
.w3layouts_newsletter_right {
    margin-top: 3em;
}
.sub-head {
    color: #029eb7;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    line-height: 45px;
}
.w3layouts_newsletter_right input[type="email"],
.w3layouts_newsletter_right input[type="text"] {
	outline: none;
	border: none;
	padding: 10px;
	background: #fff;
	border: 2px solid #ffffff;
	color: #212121;
	font-size: 15px;
	text-align: center;
	float: left;
}

.w3layouts_newsletter_right input[type="email"] {
	width: 38%;
	margin: 0 1%;
}

.w3layouts_newsletter_right input[type="submit"] {
	color: #fff;
	letter-spacing: 0.5px;
	font-size: 16px;
	text-transform: capitalize;
	padding: 9.5px 0px;
	border: none;
	outline: none;
	background: #029eb7;
	border: 2px solid #029eb7;
	cursor: pointer;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.w3layouts_newsletter_right input[type="submit"]:hover {
	background: transparent;
	color: #fff;
}

/*-- //newsletter--*/
/*-- footer --*/

.map-w3-agileits iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.map-w3-agileits {
	padding: 1em;
	background: rgb(255, 204, 84);
	flex-basis: 50%;
	-webkit-flex-basis: 50%;
}

.w3l-social ul {
	padding: 0;
	margin: 0;
}

.w3l-social ul li {
	display: inline-block;
}

.w3l-social ul li a {
	text-align: center;
}

.w3l-social ul li a {
	margin: 0 1em;
	font-size: 16px;
	color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social ul li a.fa-facebook:hover {
	color: #3b5998;
}

.w3l-social ul li a.fa-twitter:hover {
	color: #1da1f2;
}

.w3l-social ul li a.fa-google-plus:hover {
	color: #dd4b39;
}

.w3l-social ul li a.fa-instagram:hover {
	color: #e1306c;
}

.w3l-social ul li a.fa-linkedin:hover {
	color: #00a0dc;
}

.w3l-social ul li a:hover,
.w3l-social ul li a:focus {
	text-decoration: none;
}

.w3l-social {
    text-align: center;
    margin-top: 1.5em;
}

.w3ls_address_mail_footer_grids {
    padding: 4em 0;
    background: #191919;
    border-bottom: 1px solid #464646;
}
.w3ls_footer_grid_left p {
	color: #7d7d7d;
	line-height: 2em;
	font-size: 1em;
	letter-spacing: 1px;
}

.w3ls_footer_grid_left {
	text-align: center;
}

.w3ls_footer_grid_left p span {
	display: block;
}

.w3ls_footer_grid_left p a {
	color: #999;
	text-decoration: none;
}

h6.footer-logo {
	text-align: center;
	margin: 3em 0 2em;
}

h6.footer-logo a {
	text-decoration: none;
	color: #faf8f7;
	font-size: 35px;
	left: 0.4em;
	font-family: 'Monoton', cursive;
	margin: 0.2em 0 0.3em;
	display: inline-block;
}

h6.footer-logo a span {
	color: #3d59e8;
	font-family: 'Monoton', cursive;
	font-size: 60px;
	font-weight: bold;
}

h6.footer-logo a:hover,
h6.footer-logo a:focus {
	text-decoration: none;
	outline: none;
}

.copyright-wthree {
	background: #191919;
	padding: 1.5em 0;
}

.copyright-wthree p {
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 300;
	word-spacing: 1px;
	text-align: center;
}

.copyright-wthree a {
	color: #ffffff;
	text-decoration: underline;
}

.copyright-wthree a:hover {
	color: #029eb7;
}

/*-- //Footer --*/
.banner1 {
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
    text-align: center;
}
.about-top p {
    font-size: 1em;
    color:#777676;
    width: 50%;
    line-height: 1.8em;
    margin: 0 auto;
}
.about-agile {
    background: url(../images/3.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
	padding:5em 0;
}
.about-bottom.inner-padding {
    padding: 5em 0;
}
.team {
    padding: 5em 0;
}
.about-layer1 {
    padding-bottom: 5em;
}
.about-agile p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin: 1em auto 0em;
    line-height: 1.8em;
}
.about-bott-right {
    text-align: center;
}
.about-bott-right h5 {
    color: #029eb7;
    font-size: 24px;
    margin-bottom: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
}
.about-bott-right p {
    font-size: 17px;
    color: #777;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
/*--//inner About --*/
/*-- team --*/
.agile_team_grid h4{
	font-size:1.5em;
	color:#029eb7;
	margin:1em 0 .5em;
/*-- agileits --*/
}
.agile_team_grid p {
    color: #777;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view,.view .mask,.view .content{
	width: 255px;
    height: 298px;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
	text-transform: capitalize;
    color:#ffffff;
    text-align: center;
    position: relative;
    font-size: 1.7em;
    margin:2.5em 0 .5em;
}
.view p {
    /* font-style: italic; */
    line-height: 1.8em;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 0px 20px 20px;
    text-align: center;
}
.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    width: 100%;
}
.view-sixth .mask {
   background-color:rgba(2, 158, 183, 0.84);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
   padding: 8em 0 0;
}
.view-sixth h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .view-sixth .mask,.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth img,.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth h5,.view-sixth:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .view-sixth p,.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-sixth .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .view-sixth .agileits_social_icons,.view-sixth:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
/*-- //team --*/
.projects_w3ls {
    padding: 5em 0;
    background: #f5f5f5;
}
.projects_w3ls h4 {
    font-size: 1.5em;
    margin-bottom: .7em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #029eb7;
    margin-top: 15px;
}
.projects_w3ls p {
    line-height: 1.8em;
    font-size: 15px;
    letter-spacing: 1px;
    color: #777;
}
/*-- Gallery Section --*/

.gallery-grid1 img {
	width: 100%;
	cursor: pointer;
}

/*--Gallery hover effect--*/
.gallery {
    padding: 5em 0;
}
.gallery-grid1 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.gallery-grid1:nth-child(2),
.gallery-grid1:nth-child(3) {
	margin-top: 1.7em;
}

.gallery-grid1 .p-mask,
.row .product .vm-product-media-container .p-mask {
	opacity: 0;
	visibility: hidden;
	background: rgba(25, 24, 24, 0.8);
	bottom: 0%;
	position: absolute;
	padding: 1.3em 1.3em;
	width: 100%;
	-webkit-transform: translate3d( 0px, 100%, 0px);
	-moz-transform: translate3d( 0px, 100%, 0px);
	-ms-transform: translate3d( 0px, 100%, 0px);
	-o-transform: translate3d( 0px, 100%, 0px);
	transform: translate3d( 0px, 100%, 0px);
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	text-align: left;
	border-bottom: 6px solid #273b7b;
}

.gallery-grid1 .p-mask .p-desc {
	color: #a3a3a3;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.gallery-grid1:hover .p-mask,
.row .product:hover .p-mask {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d( 0px, 0px, 0px);
	-moz-transform: translate3d( 0px, 0px, 0px);
	-ms-transform: translate3d( 0px, 0px, 0px);
	-o-transform: translate3d( 0px, 0px, 0px);
	transform: translate3d( 0px, 0px, 0px);
}

.p-mask h4 {
	color: #029eb7;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}

.p-mask p {
	margin: 0;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
}


/*-- //Gallery Section --*/
/*--Contact --*/
.tax {
    padding: 5em 0;
}
.tax label {
    margin-bottom: 7px;
    color: #000;
    letter-spacing: 1px;
}
.tax_right {
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
	min-height:411px;
}
.tax p {
    font-size: 16px;
    color: #777;
    line-height: 28px;
    margin-bottom: 3em;
    letter-spacing: 1px;
}
.tax_left {
    padding-right: 3em;
}
.form-right-w3l {
    float: left;
    width: 49%;
}
.form-left-w3l {
    float: left;
    width: 49%;
	margin-right:2%;
}
div#contact h3 {
	color: #fbfafa;
}
.contact-page {
    padding: 5em 0;
}

.contact-page h3.tittle {
	color: #fff;
}

.contact-agile h4 {
	text-align: left;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
	margin-bottom: 13px;
	text-transform: capitalize;
	color: #029eb7;
}

.contact-agile h4:nth-child(3) {
	margin-top: 1em;
}

@media(min-width:992px) {
	.contact-eql {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
}

.contact-left {
	flex-basis: 38%;
	-webkit-flex-basis: 38%;
}

.contact-middle {
	flex-basis: 60%;
	-webkit-flex-basis: 60%;
}

.contact-left,
.contact-middle {
	padding: 2em;
	box-sizing: border-box;
}

.add-info span {
	font-size: 1.1em;
	color: #029eb7;
	display: inline-block;
	float: left;
	margin-right: 1em;
}

.add-info p, .add-info p a {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
}
.add-info p a:hover {
	color: #029eb7;
	text-decoration: none;
}

.contact-left .w3ls-social-icons a:nth-child(1) {
	margin-left: 0px!important;
}

.contact-agile p.heading-btm-w3ls,
.sevices-w3layouts p.heading-btm-w3ls {
	color: #e7e3e3;
}

.contact-middle input[type="text"],
.contact-middle input[type="email"],
textarea {
	width: 100%;
	padding: 11px 20px;
	border: 1px solid #777;
}

.contact-middle p {
	color: #cecece;
	font-weight: bold;
	margin-bottom: 4px;
	margin-left: 5px;
	font-size: 16px;
}

.form-fields-agileinfo:nth-child(2) {
	margin: 1.2em 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: none;
}

textarea {
	height: 74px;
	resize: none;
	width: 100%;
}

textarea:focus {
	outline: none;
}

.submit {
	float: right;
	margin-top: 10px;
	color: #000;
}

.submit .glyphicon {
	font-size: 16px;
	border: none;
	padding: 0;
}

.contact-middle input[type="submit"] {
	background: #029eb7;
	border: none;
	border: 2px solid #029eb7;
	padding: .7em 2.5em;
	outline: none;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #fff;
	margin-top: 2em;
	cursor:pointer;
}

.contact-middle input[type="submit"]:hover {
	background: transparent;
	color: #029eb7;
}

.form-agileinfo {
	width: 48%;
	margin-right: 24px;
	float: left;
}
/*--//Contact --*/
p.para-w3-agileits {
    font-size: 15px;
    color: #777;
    line-height: 1.8em;
}
/*--Map --*/

.map-w3ls {
	padding: 1em 1em .7em;
	background: #fff;
}

.map-w3ls iframe {
	width: 100%;
	height: 300px;
	border: none;
}
/*-- //Map--*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #029eb7;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #fb5710;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
.form-group.row {
    margin-bottom: 1rem;
}
.bd-example {
    padding: 2em;
    border: 1px solid #eee;
    margin-bottom: 2em;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
.agile_banner_text_info p {
    width: 46%;
}
}
@media(max-width:1366px){
}
@media(max-width:1280px){
	.agile_banner_text_info p {
    width: 50%;
}
.agile_banner_text_info {
        top: 40%;
    }
    .agile_banner_text_info h3 {
        font-size: 4.5em;
        letter-spacing: 3px;
    }
	ul#slider li:nth-child(1), ul#slider li:nth-child(2), ul#slider li:nth-child(3), ul#slider li:nth-child(4) {
    min-height: 650px;
}
}
@media(max-width:1080px){
.banner1 {
    min-height: 300px;
}
  .agile_banner_text_info h3 {
        font-size: 3.8em;
        letter-spacing: 2px;
    }
    .agile_banner_text_info p {
    letter-spacing: 4px;
    margin: 1em auto;
    font-size: 1em;
    width: 64%;
}
.agile_banner_text_info {
        top: 41%;
    }
	ul#slider li:nth-child(1), ul#slider li:nth-child(2), ul#slider li:nth-child(3), ul#slider li:nth-child(4) {
    min-height: 576px;
}
.w3-services-right-grid {
    padding-left: 1em;
}
.Supp {
    width: 78%;
}
.grid1 {
    padding: 4em 2em;
}
.stat-grids h3 {
    font-size: 1.3em;
}
.stat-grids p {
    font-size: 3.5em;
}
.view, .view .mask, .view .content {
    width: 204px;
    height: 237px;
}
}
@media(max-width:1050px){
  .agile_banner_text_info {
        top: 41%;
    }
	.agile_banner_text_info h1 span {
        letter-spacing: 2px;
        font-size: 14px;
    }
	.rslides_tabs {
    bottom: -1%;
}
}
@media(max-width:1024px){	
	.agile_banner_text_info h3 {
    font-size: 3.5em;
}
.agile_banner_text_info {
        top: 39%;
    }
}
@media(max-width:991px){
div#navbarSupportedContent {
    position: absolute;
    width: 97%;
    left: 0px;
    top: 49px;
    z-index: 999;
    background: #000000;
}
ul.navbar-nav {
    width: 100%;
    left: 0px;
    text-align: center;
	padding: 1em 0em;
}	
li.nav-item {
    margin: 10px 0px;
}
.navbar-light .navbar-toggler {
    border-color:#0bffea;
    background:#0bffea;
    padding: 2px 6px;
    margin-top: 5px;
    outline: none;
    margin-right: 0px;
	z-index: 9999;
	cursor: pointer;
    border-radius: 0px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-light .navbar-toggler:hover {
    background:#0bffea;
}
.dropdown-menu.show {
    text-align: center;
    background: #000;
}
.dropdown-item {
    color: #ffffff;
}
.dropdown-divider {
    background-color: #000000;
}
.dropdown-item:focus, .dropdown-item:hover {
   color: #029eb7;
    text-decoration: none;
    background-color: #000000;
}
.dropdown-item.active, .dropdown-item:active {
    color: #029eb7;
    text-decoration: none;
    background-color: #000000;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.agile_banner_text_info h3 {
    font-size: 3em;
    letter-spacing: 2px;
}
.agile_banner_text_info p {
    width: 90%;
}
  .agile_banner_text_info {
        top: 37%;
    }
.rslides_tabs {
    bottom: -1%;
}
.w3l_header {
    font-size: 2.7em;
}
.wthree_head_section p {
    width: 100%;
}
.w3-services-left-grid {
    text-align: center;
    margin-bottom: 2em;
}
.ser-lef-agile:nth-child(2) {
    margin: 1em 0;
}
.stat-grids p {
    font-size: 3em;
}
.n-left h6 {
    font-size: 1.8em;
}
.sub-head {
    font-size: 26px;
}
.dropdown-divider {
    margin: 0rem 0;
    border-top: 1px solid #000000;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.view, .view .mask, .view .content {
    width: 151px;
    height: 176px;
}
.agile_team_grid h4 {
    font-size: 1.3em;
}
.view-sixth .mask {
    padding: 5em 0 0;
}
.w3l-social ul li a {
    margin: 0 0.5em;
}
}
@media(max-width:900px) {
    .agile_banner_text_info {
        top: 41%;
    }
}
@media(max-width:800px){
.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
}
    .agile_banner_text_info {
        top: 36%;
    }
	.rslides_tabs {
    bottom: -1%;
}
.w3-services {
    padding: 3em 0;
}
.ser-agile {
    padding: 3em 0;
}
section.what_you {
    padding: 3em 0;
}
.test {
    padding: 3em 0;
}
.features {
    padding: 3em 0;
}
.w3ls_address_mail_footer_grids {
    padding: 3em 0;
}
.wthree_head_section {
    margin-bottom: 3em;
}
.about-bottom.inner-padding {
    padding: 3em 0;
}
.team {
    padding: 3em 0;
}
.projects_w3ls {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0;
}
.contact-page {
    padding: 3em 0 0;
}
.typo {
    padding: 3em 0;
}
}
@media(max-width:768px){
.banner1 {
    min-height: 270px;
}
}
@media(max-width:736px){
	 .agile_banner_text_info h3 {
        font-size: 3em;
        letter-spacing: 2px;
    }
    .agile_banner_text_info {
        top: 32%;
    }
	 .agile_banner_text_info {
        top: 32%;
    }
	.w3l_header {
    font-size: 2.5em;
}
.w3-icon-grid-gap1:nth-child(2) {
    margin: 0em 0;
}
.w3-services-left-grid {
    margin-bottom: 0em;
}
.w3-icon-grid1 {
    margin-top: 2em;
}
.about-info.about-info2 {
    border-left: none;
    border-right: none;
	margin:1.5em 0;
}
.hrms {
    margin-bottom: 2em;
}
.sub-head {
    font-size: 23px;
	    letter-spacing: 2px;
}
.n-left h6 {
    margin-bottom: 0.5em;
}
.copyright-wthree p {
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 0px;
}
.agile_team_grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.view, .view .mask, .view .content {
    width: 225px;
    height: 256px;
}
.projects_w3ls_left:nth-child(2){
    margin: 1.5em 0;
}
.gallery-grid1:nth-child(2), .gallery-grid1:nth-child(3) {
    margin-top: 0;
}
.gallery-grid1 {
    margin-bottom: 1.5em;
}
}
@media(max-width:667px){
	 .agile_banner_text_info p {
        letter-spacing: 3px;
        margin: 1em 0 0em auto;
        font-size: 1em;
    }
    .agile_banner_text_info h3 {
        font-size: 2.8em;
        letter-spacing: 1px;
    }
    .agile_banner_text_info {
        top: 38%;
    }
	ul#slider li:nth-child(1), ul#slider li:nth-child(2), ul#slider li:nth-child(3), ul#slider li:nth-child(4) {
    min-height: 450px;
}
.header-bar {
    padding: 1.5em 0em;
}
.rslides_tabs {
    bottom: -1%;
}
.view, .view .mask, .view .content {
    width: 279px;
    height: 309px;
}
.team {
    padding: 3em 0 1em;
}
.view-sixth .mask {
    padding: 8em 0 0;
}
}
@media(max-width:640px){
.banner1 {
    min-height: 240px;
}
   .agile_banner_text_info {
        top: 38%;
    }
	.agile_banner_text_info h3 {
    font-size: 2.5em;
}
}
@media(max-width:600px){
	    .agile_banner_text_info h3 {
        font-size: 2.3em;
        letter-spacing: 1px;
    }
	h1 a.navbar-brand {
    font-size: 40px;
	}
.view, .view .mask, .view .content {
    width: 246px;
    height: 286px;
}
}
@media(max-width:568px){
.header-bar {
    padding: 0.8em 0em;
}
.banner1 {
    min-height: 210px;
}
 .agile_banner_text_info {
        top: 37%;
    }
	.agile_banner_text_info p {
    letter-spacing: 2px;
    margin: 1em auto;
    font-size: 1em;
}
.stat-grids{
    text-align: center;
}
.test-grid h4 {
    font-size: 1.2em;
}
.view, .view .mask, .view .content {
    width: 230px;
    height: 267px;
}
.view-sixth .mask {
    padding: 7em 0 0;
}
}
@media(max-width:480px){
	 .agile_banner_text_info p {
        letter-spacing: 1px;
        margin: 0.3em 0 0em auto;
        font-size: 0.9em;
    }
    .agile_banner_text_info h3 {
        font-size: 1.9em;
        letter-spacing: 1px;
    }
    .w3ls-button a,
    .w3l-button a,
    .w3ls-about-left a {
        text-decoration: none;
        padding: .4em 1em;
        font-size: 0.8em;
    }
    .agile_banner_text_info {
        top: 37%;
    }
	.agile_banner_text_info p {
        letter-spacing: 2px;
        margin: 0.7em 0 1em auto;
        font-size: 0.9em;
    }
	ul#slider li:nth-child(1), ul#slider li:nth-child(2), ul#slider li:nth-child(3), ul#slider li:nth-child(4) {
    min-height: 400px;
}
.w3l_header {
    font-size: 2.3em;
	letter-spacing:0px;
}
.view, .view .mask, .view .content {
    width: 187px;
    height: 217px;
}
.view-sixth .mask {
    padding: 6em 0 0;
}
.contact-agile h4 {
    font-size: 24px;
}
}
@media(max-width:440px){
	ul#slider li:nth-child(1), ul#slider li:nth-child(2), ul#slider li:nth-child(3), ul#slider li:nth-child(4) {
    min-height: 380px;
}
.view, .view .mask, .view .content {
    width: 168px;
    height: 196px;
}
.view-sixth .mask {
    padding: 5em 0 0;
}
}
@media(max-width:414px){
.banner1 {
    min-height: 180px;
}
a.navbar-brand span {
    padding-left: 0.1em;
    margin-left: 0.1em;
}
  .agile_banner_text_info h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
    .agile_inner {
        min-height: 157px;
    }
    .agile_banner_text_info {
        top: 40%;
    }
	.w3l_header {
    font-size: 2.1em;
}
.w3layouts_newsletter_right input[type="email"] {
    width: 100%;
    margin: 1% 0%;
}
.w3layouts_newsletter_right input[type="submit"], .w3layouts_newsletter_right input[type="text"] {
    width: 100%;
}
.view, .view .mask, .view .content {
    width: 336px;
    height: 350px;
}
.agile_team_grid {
    width: 100%;
}
.view-sixth .mask {
    padding: 10em 0 0;
}
.contact-left, .contact-middle {
    padding: 1em 1em;
}
}
@media(max-width:384px){
	h1 a.navbar-brand {
    font-size: 31px;
}
  .agile_banner_text_info {
        top: 39%;
    }
	.view, .view .mask, .view .content {
    width: 305px;
    height: 320px;
}
.view-sixth .mask {
    padding: 9em 0 0;
}
}
@media(max-width:375px){
	.view, .view .mask, .view .content {
    width: 295px;
    height: 320px;
}
}
@media(max-width:320px){
.banner1 {
    min-height: 150px;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-nav > li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #1372bf;
    text-align: center;
}
li.second {
    padding: 0 7px;
}
.navbar-nav > li:nth-child(6) {
    float: right;
    border-right: none;
    width: 28%;
    margin-top: 9px;
}
@media (max-width: 667px)
.navbar-nav > li:nth-child(6) {
    float: right;
    border-right: none;
    width: 54%;
    margin-top: 9px;
    background: #007ee5;
    margin: 0;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-appearance: none;
}
li.second.w3l_search input[type="search"] {
    outline: none;
    padding: 10px;
    color: #888;
    font-size: 15px;
    width: 85%;
    border: ridge 1px #ffffff;
    background: #ffffff;
    float: left;
    height: 41px;
    letter-spacing: 1px;
    font-weight: 400;
}
@media (max-width: 800px)
li.second.w3l_search input[type="search"] {
    padding: 10px;
    width: 80%;
    float: left;
    height: 41px;
}
.btn {
    display: inline;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
button.btn.btn-default {
    background: #00C6D7;
    color: #fff;
    font-size: 1em;
    outline: none;
    border: none;
}
li.second.w3l_search button.btn.btn-default {
    outline: none;
    padding: 10px 0 11px;
    width: 15%;
    position: relative;
    background: #e53238;
    border: solid 1px #e53238;
    border-radius: 0;
    color: #fff;
}
@media (max-width: 800px)
li.second.w3l_search button.btn.btn-default {
    outline: none;
    padding: 10px 0 11px;
    width: 20%;
}
.navbar-nav a {
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.open > a {
    outline: 0;
}
h1 a.navbar-brand {
    font-size: 30px;
	letter-spacing:0;
}
.navbar-toggler-right {
    right: 0rem !important;
}
.header-bar {
    padding: 0.5em 0em;
}
 .agile_banner_text_info label {
        letter-spacing: 2px;
    }
    .agile_banner_text_info {
        top: 25%;
    }
	  .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    .agile_banner_bottom_grid_left_grid {
        width: 50px;
        height: 50px;
    }
    .agile_banner_bottom_grid_left_grid span {
        font-size: 1.7em;
    }
    .agile_banner_text_info {
        top: 37%;
    }
    .agile_banner_text_info h3 {
        font-size: 1.2em;
        letter-spacing: 0px;
    }
    .w3-button {
        margin: 1em auto 0;
        width: 82%;
    }
	.agile_banner_text_info p {
    letter-spacing: 1px;
    margin: 0.3em auto;
    font-size: 0.9em;
    width: 93%;
}
  ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4) {
        min-height: 320px;
    }
	.w3l_header {
    font-size: 2em;
}
.w3-services {
    padding: 2.5em 0;
}
.wthree_head_section {
    margin-bottom: 2em;
}
.Supp {
    width: 74%;
}
.w3-services-right-grid h3 {
    font-size: 18px;
	margin-bottom: 6px;
}
.w3-icon-grid1 {
    padding: 0;
}
.ser-agile {
    padding: 2.5em 0;
}
.w3l-info h4 {
    font-size: 18px;
}
.grid1 {
    padding: 2em 2em;
}
.w3l-info h5 {
    font-size: 18px;
}
section.what_you {
    padding: 2.5em 0;
}
.test {
    padding: 2.5em 0;
}
.features {
    padding: 2.5em 0;
}
.stat-grids p {
    font-size: 2em;
}
.w3ls_address_mail_footer_grids {
    padding: 2.5em 0;
}
.about-info-grids h4 {
    font-size: 20px;
}
.about-bottom.inner-padding {
    padding: 2.5em 0;
}
.team {
    padding: 2.5em 0;
}
.view, .view .mask, .view .content {
    width: 241px;
    height: 280px;
}
.view-sixth .mask {
    padding: 8em 0 0;
}
.projects_w3ls {
    padding: 2.5em 0;
}
.projects_w3ls h4 {
    font-size: 1.4em;
    margin-bottom: .3em;
}
.gallery {
    padding: 2.5em 0 1em;
}
.contact-page {
    padding: 2.5em 0px 0px;
}
.typo {
    padding: 2.5em 0;
}
}
/*--//responsive--*/

